body {
    font-family: 'Avenir' !important;
    margin-bottom: 100px;
    margin: 0 auto !important;
    width: 90%;
    text-align: center !important;
}


.newArrivalTag {
    height:18px;
    width:100%;
    margin: 0;
    font-size: 12px;
    color:#000;
}
/* 
.categoryWrapper {
    opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}

#menu{
    position:fixed;
    top: 50%;
    left: 50%;
    width:500px;
    height:300px;
    margin-top: -9em;
    margin-left: -15em; 
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    z-index: 100;
} */
.white-body {
    background-image: none;
    background-color: #ffffffb0;
    border-radius: 15px;
}

.img-body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    margin-top: 30px;
}

.container {
    min-height: 1020px;
}

.header h1 {
    margin-top: 10px;
}

h4 {
    padding-bottom: 10px;
}

.logo {
    width: 126px;
    height: 90px;
}

.logo-wrapper {
    text-align: left;
}

.logo-wrapper span {
    margin-left: 20px;
}

.select-filters {
    text-align: left;
    margin-top: 10px;
}

.dots-icon {
    float: right;
    width: 14px;
}

.product-template {
    display: none;
}

.product-level {
    display: block;
    font-size: 10px;
}

.results-count {
    display: none;
}

.dropdown-content {
    position: absolute;
    z-index: 10;
    display: none;
    width: 170px;
    height: 80px;
    background-color: rgba(250, 239, 239, 0.8);
    padding: 5px;
    border: 1px solid gray;
    text-align: left;
    color: gray;
    cursor: pointer;
}

.no-products-text {
    display: none;
}

.multiple-sortable-selected {
    background-color: lightgray !important;
}

.search-wrapper {
    display: inline;
    margin: 0px 10px;
}

.ui-sortable-placeholder {
    background-color: rgb(241, 237, 237) !important;
    visibility: visible !important;
    width: 205px !important;
    height: 90px !important;
    top: 0px !important;
    border: 2px dashed darkgray !important;
}

#btnCreateCSV {
    display: none;
    float: right;
}

#txtCategory {
    width: 210px;
}

.label-environment {
    margin-left: 10px;
}

.handle {
    cursor: grab;
}

code {
    color: #606;
}

.input-section {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
}

.square-section {
    background-color: rgb(255, 255, 255, 0.5);
}

.left {
    text-align: left;
}

.select-controls {
    display: none;
}

.move-buttons {
    float: right;
    margin: 0px 8px;
}

.product-image {
    height: 180px;
    width: 150px;
}

.product-name {
    width: 180px;
    height: 85px;
    display: block;
    overflow: hidden;
    font-size: 12px;
}

.unavailable {
    opacity: 0.2;
}
.product-category {
    height: 70px;
    width: 100%;
    margin: 5px;
}

.product-price {
    display: block;
    font-size: 12px
}

p.product-price {
    margin-top: 5px;
    margin-bottom: 0;
}

.select-control {
    display: none;
}

.grid-square {
    width: 200px;
    height: 340px;
    display: inline-table;
    background-color: #fff;
    border: solid 1px rgb(0, 0, 0, 0.2);
    padding: 10px;
    margin: 12px;
    text-align: center;
    position: relative;
}

.grid-square .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.price-wrapper {
    margin-top: 5px;
}

.grid-square:hover {
    cursor: move;
}

.blue-background-class {
    background-color: #C8EBFB;
}

.search-results-wrapper {
    display: none;
}

.search-col {
    margin-top: 12px;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 5px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

.shake-tile {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1550px !important;
    }
}